{% extends "base.html" %}
{% block title %}Teachers{% endblock %}
{% block bodyid %}teacher-list{% endblock %}
{% block content %}
  <div class="page-header">
    <h2>
      Featured Teachers
    </h2>
  </div>
  <div class="row">
    <div class="span12 box">
      <div class="box-content">
          <div id="teacher-masonry">
            {% for i in counter %}
              {% for n in counter %}
                {% include 'teachers/teacher.html' %}
              {% endfor %}
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/masonry/jquery.masonry.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#teacher-masonry').imagesLoaded(function () {
        $('#teacher-masonry').masonry({
          itemSelector: '.teacher',
          columnWidth: 290
        });
      });
    });
  </script>
{% endblock %}
