{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
	<h2>Reset Your Password</h2>
</div>
<p>Please enter your email address. We'll send you a link to reset your password.</p>
<form class="well form-inline" method="post" action=".">
  {% csrf_token %}
  <label for="id_email">E-mail <i class="icon-arrow-right"></i></label>
  {{ form.email }}
	{% if form.email.errors %}
	  <span class="label label-important">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
	{% endif %}
  <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />

</form>
{% endblock %}
