{% extends "base.html" %}
{% load i18n %}

{% block title %}New User Registration{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="page-header">
  <h2>You're already registered!</h2>
</div>

<p>Because you're awesome is why.</p>

<p><a href="/accounts/{{ user.username }}/">You can change the details of your account by clicking here.</a></p>
{% else %}
<div class="page-header">
  <h2>Create an account</h2>
</div>
    <form class="form-horizontal span8 offset1 clearfix" action="" method="post">
      <fieldset>
        {% csrf_token %}
        <div class="control-group {% if form.username.errors %}error{% endif %}">
          <label class="control-label" for="id_username">User Name <i class="icon-arrow-right"></i></label>
          {{ form.username }}
          {% if form.username.errors %}<span class="label label-important">{% for error in form.username.errors %}{{ error }}{% endfor %}</span>{% endif %}
        </div>
        <div class="control-group {% if form.username.errors %}error{% endif %}">
          <label class="control-label" for="id_email">Email Address <i class="icon-arrow-right"></i></label>
          {{ form.email }}
          {% if form.email.errors %}<span class="label label-important">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>{% endif %}
        </div>
        <div class="control-group {% if form.username.errors %}error{% endif %}">
          <label class="control-label" for="id_password1">Password <i class="icon-arrow-right"></i></label>
          {{ form.password1 }}
          {% if form.password1.errors %}<span class="label label-important">{% for error in form.password1.errors %}{{ error }}{% endfor %}</span>{% endif %}
        </div>
        <div class="control-group  {% if form.username.errors %}error{% endif %}">
          <label class="control-label" for="id_password2">Re-Enter Password <i class="icon-arrow-right"></i></label>
          {{ form.password2 }}
          {% if form.password2.errors %}<span class="label label-important">{% for error in form.password2.errors %}{{ error }}{% endfor %}</span>{% endif %}
        </div>
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Create Account" />
        </div>
      </fieldset>
    </form>

{% endif %}

{% endblock %}
