{% load ab %}
<div class="span3">
  <div class="row-fluid">
    <div class="span4"><a href="/classes/class1/"><img src="http://placekitten.com/g/83/83"
                                                       alt="Featured Class Placeholder"/></a></div>
    <div class="span8">
      <h4><a
        href="#">{% ab 'Introduction to Guitar' 'Guitar for Beginners' 'Beginning Blues Guitar' 'Fingerpicking 101 with John Something' %}</a>
      </h4>

      <p>Taught by <a
        href="/teachers/username/">{% ab 'teacher1' 'underscoreRex' 'bluesGuitarTeacher' 'John Fogerty' 'Jimmy Ray Vaughn' %}</a>
      </p>
    </div>
  </div>
</div>