{% extends "base.html" %}
{% block title %}Classes{% endblock %}
{% block bodyid %}class-list{% endblock %}
{% block content %}
  <div class="row">
    <div class="span12 box">
      <div class="box-header">
        <div class="lead">
          Featured Classes
        </div>
      </div>
      <div class="box-content">
        <div class="thumbnail green-border">
          <div class="inner-spacer">
            {% for i in counter %}
              <div class="row-fluid">
                {% for n in counter %}
                  {% include 'classes/class.html' %}
                {% endfor %}
              </div>
              <hr/>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
