body,
.lead,
h1, h2, h3, h4, h5, h6 { font-family: 'Arimo', 'Helvetica', sans-serif}
#maincontain { padding: 2em 0; }
#footer { font-size: 80%; border-top: 1px solid #e7e7e7; background-color: #fff}
#searchform { margin: 0; padding: 0; display: inline}
#search span { color: #fff}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus { background-color: rgba(0,0,0,0.15); color: #fff}
header .navbar .nav > li > a:focus, header .navbar .nav > li > a:hover,
.navbar .nav > a:hover { background-color: rgba(255,255,255,0.15)}
#class-chatbox { height: 300px; position: relative; }
#class-chatbox .thumbnail { min-height: 280px; }
#class-chatbox .inner-spacer{ height: 100%; max-height: 230px; overflow-y: scroll; overflow-x: hidden; }
#class-chatbox #class-talker { width: 100%; position: absolute; left:0; bottom: 0;}
#class-chatbox #class-talker input { width: 433px;}
#class-chatbox .myline { background-color: #e7e7e7; text-align: right; padding: 0.25em 0.5em; }
.navbar .nav > li > a.usernav { padding: 9px 15px 8px; }
div.teacher-row { margin-bottom: 1em; }
div.teacher.thumbnail,
div.teacher { float: left; width: 270px; margin: 0 1em 1em 0; background-color: #fff; }
div.teacher strong { font-size: 80%; }
div.teacher div.box-content { padding: 1em 1em 0;}
div.teacher div.actions a { color: #fff; font-size: 80%; }
div.teacher div.lead a { color: #fff; font-size: 70%; }
div.teacher.box .box-header .lead { margin: 5px 0 5px 10px;}
div.teacher.box .box-header .actions { margin: 7px 5px 0 0;}

#featured_classes,
#featured_teachers { margin-top: 2em}
#featured_classes .row-fluid .box .box-header.blue-background,
#featured_teachers .row-fluid .box .box-header.blue-background { background-color: #fff !important;}
#featured_classes .row-fluid .box .box-header.blue-background a,
#featured_teachers .row-fluid .box .box-header.blue-background a { color: #666; }

.featured-teacher { padding: 1em 0;}
#earning-stats { height: 200px;}
form div.form-inline { margin-bottom: 1em;}
form div.form-inline label { margin-left: 1em;}
