#footer { font-size: 80%; border-top: 1px solid #e7e7e7}
#searchform { margin: 0; padding: 0; display: inline}
#flytrap { margin-top: 2em; }
#featured_teachers { margin-top: 2em;}
#featured_teachers .span3 { text-align: center; padding-top: 1.5em}
#maincontain { margin-bottom: 20em; }