{% extends 'base.html' %}
{% load ab %}
{% block id %}home{% endblock %}
{% block content %}
  <div id="flytrap" class="row">
    <div class="span6">
      {% ab '<img src="http://placekitten.com/g/500/300" alt="marketing imagery" />' '<img src="http://placekitten.com/g/550/250" alt="marketing imagery" />' %}
    </div>
    <div class="span3">
      <h2>Take a Class</h2>
      {% if not user.is_authenticated %}
        <a href="{% url 'registration_register' %}" class="btn btn-warning">Sign Up!</a>
      {% else %}
        <a href="{% url 'class_list' %}" class="btn btn-warning">Find Classes!</a>
      {% endif %}
    </div>
    <div class="span3">
      <h2>Become a Teacher</h2>
      <a href="#" class="btn btn-success">Sign Up!</a>
    </div>
  </div>
  <div id="featured_teachers" class="row-fluid">
    <!-- {% ab 'blue' 'orange' 'red' 'green' 'purple' %} -->
    <div class="span12 box">
      <div class="box-header {{ choice }}-background">
        <div class="lead">
          Featured Teachers
        </div>
        <div class="actions">
          <a class="btn" href="{% url 'teacher_list' %}">See More <i class="icon-double-angle-right"></i></a>
        </div>
      </div>
      <div class="row-fluid">
        {% for i in counter %}
          {% include 'teachers/teacher.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="featured_classes" class="row">
    <div class="span12 box bordered-box {{ choice }}-border">
      <div class="box-header {{ choice }}-background">
        <div class="lead">
          Featured Classes
        </div>
        <div class="actions">
          <a class="btn" href="{% url 'class_list' %}">See More <i class="icon-double-angle-right"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a href="{% url 'class_profile' 'class1' %}"><img src="http://placekitten.com/g/200/200" alt="Featured Class Placeholder"/></a>
          <h4><a href="#">Class Name</a></h4>
        </div>
        <div class="span3">
          <a href="{% url 'class_profile' 'class1' %}"><img src="http://placekitten.com/g/200/200" alt="Featured Class Placeholder"/></a>
          <h4><a href="#">Class Name</a></h4>
        </div>
        <div class="span3">
          <a href="{% url 'class_profile' 'class1' %}"><img src="http://placekitten.com/g/200/200" alt="Featured Class Placeholder"/></a>
          <h4><a href="{% url 'class_profile' 'class1' %}">Class Name</a></h4>
        </div>
        <div class="span3">
          <a href="{% url 'class_profile' 'class1' %}"><img src="http://placekitten.com/g/200/200" alt="Featured Class Placeholder"/></a>
          <h4><a href="{% url 'class_profile' 'class1' %}">Class Name</a></h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}