{% load ab %}
{% load lineage %}
<!-- header start -->
<header>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <!-- logo start -->
        <a class='brand' href='/'>
          <i class='icon-music'></i>
          <span class='hidden-phone'>Vimusi</span>
        </a>
        <ul class="nav">
          <li class="{% ancestor '/classes/' %}"><a href="/classes/">Classes</a></li>
          <li class="{% ancestor '/teachers/' %}"><a href="/teachers/">Teachers</a></li>
          {% if not user.is_authenticated %}
            <li class="{% ancestor '/accounts/' %}"><a href="/accounts/register/">Sign Up!</a></li>
          {% endif %}
        </ul>
        <!-- logo end -->
        <ul class='nav pull-right'>
          <!-- color change
          <li class='dropdown first only-icon'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <i class='icon-adjust'></i>
            </a>
            <ul class='dropdown-menu'>
              <li>
                <a class='change-color-to-red' href='#'>
                  <i class='icon-adjust text-error'></i>
                  Default (Red)
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a class='change-color-to-blue' href='#'>
                  <i class='icon-adjust text-primary'></i>
                  Blue
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a class='change-color-to-purple' href='#'>
                  <i class='icon-adjust text-info'></i>
                  Purple
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a class='change-color-to-orange' href='#'>
                  <i class='icon-adjust text-warning'></i>
                  Orange
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a class='change-color-to-green' href='#'>
                  <i class='icon-adjust text-success'></i>
                  Green
                </a>
              </li>
            </ul>
          </li>
          -->
          <!-- color change end -->
          {% if notifications %}
            <!-- notification widget start -->
            <li class='dropdown first only-icon widget'>
              <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                <i class='icon-rss'></i>

                <div class='label'>5</div>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <a href='#'>
                    <div class='widget-body'>
                      <div class='pull-left icon'>
                        <i class='icon-user text-success'></i>
                      </div>
                      <div class='pull-left text'>
                        John Doe signed up
                        <small class='muted'>just now</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class='divider'></li>
                <li>
                  <a href='#'>
                    <div class='widget-body'>
                      <div class='pull-left icon'>
                        <i class='icon-inbox text-error'></i>
                      </div>
                      <div class='pull-left text'>
                        New Order #002
                        <small class='muted'>3 minutes ago</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class='divider'></li>
                <li>
                  <a href='#'>
                    <div class='widget-body'>
                      <div class='pull-left icon'>
                        <i class='icon-comment text-warning'></i>
                      </div>
                      <div class='pull-left text'>
                        America Leannon commented Flatty with veeery long text.
                        <small class='muted'>1 hour ago</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class='divider'></li>
                <li>
                  <a href='#'>
                    <div class='widget-body'>
                      <div class='pull-left icon'>
                        <i class='icon-user text-success'></i>
                      </div>
                      <div class='pull-left text'>
                        Jane Doe signed up
                        <small class='muted'>last week</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class='divider'></li>
                <li>
                  <a href='#'>
                    <div class='widget-body'>
                      <div class='pull-left icon'>
                        <i class='icon-inbox text-error'></i>
                      </div>
                      <div class='pull-left text'>
                        New Order #001
                        <small class='muted'>1 year ago</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li class='widget-footer'>
                  <a href='#'>All notifications</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class='first only-icon widget'>
              <a class="disabled" href='javascript:return false;'>
                <i class='icon-rss'></i>
                <div class='label'>0</div>
              </a>
            </li>
            <!-- notification widget end -->
          {% endif %}
          <!-- user menu start -->
          <li class='dropdown second'>
            {% if user.is_authenticated %}
              <a class='dropdown-toggle usernav' data-toggle='dropdown' href='#'>
                <img alt="Avatar" height="23" src="{{ STATIC_URL }}img/avatar.jpg" width="23"/>
                <span class='user-name hidden-phone'>{{ user.username }}</span>
                <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <a href='/accounts/profile/'>Profile</a>
                </li>
                <li>
                  <a href='{% url 'teacher_dashboard' %}'>Teacher Dashboard</a>
                </li>
                <li>
                  <a href='/accounts/settings/'>Settings</a>
                </li>
                <li class='divider'></li>
                <li>
                  <a href='/accounts/logout/'>Sign out</a>
                </li>
              </ul>
            {% else %}
              <a href="/accounts/login/">Log In</a>
            {% endif %}
          </li>
          <!-- user menu end -->
        </ul>
        <!-- search form start -->
        <form id="search" accept-charset="UTF-8" action="#" class="navbar-search pull-right hidden-phone" method="post">
          {% csrf_token %}
          <span>Search</span>
          <input autocomplete="off"
                 class="search-query span3"
                 id="q" name="q"
                 placeholder="{% ab 'Search for Teachers &amp; Classes' 'Search for Classes &amp; Teachers' %}"
                 type="text"
                 value=""/>
        </form>
        <!-- search form end -->
      </div>
    </div>
  </div>
</header>
<!-- header end -->